<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 부트스트랩 cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 제이쿼리 cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- 폰트어썸 cdn-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="container d-flex">
      <div class="list-group mx-2">
          <a href="/company/info" class="list-group-item shadow" style="width: 150px;">회사 정보</a>
          <a href="/company/posts" class="list-group-item hs_list_effect shadow">공고 관리</a>
          <a href="/company/getResume" class="list-group-item shadow">받은 이력서</a>
          <a href="/company/scrap" class="list-group-item  shadow">스크랩한 유저</a>
      </div>

      <div class=" mx-2 pb-4 w-100">
          <div class="border border-tertiary  p-5 rounded shadow">
              <h1 class="mb-4">등록한 공고</h1>
              <hr>
              <div class="jh_resume mt-5">
                  <button class="jh_resume_button mb-5 rounded  jm_card" onclick="location.href=`/company/savePostForm`;">➕ 새로운 공고
                      등록</button>
                  
                  <c:forEach items="${postTitleList}" var="post" varStatus="status">
                  <div class="jh_resume_content mb-3" style="display: flex; justify-content: space-between">
                  <div style="">
                      <a href="/company/postDetail/${post.id}"  style="text-decoration: none;">${post.title}</a>
                      <div id="post_deadline_${status.count}" value="${post.deadline}">마감 기한 : ~${post.deadline}</div>
                  </div>
                  <div style="display: flex;">
                      <button type="button" id="delete_button_${status.count}" class="btn btn-dark" onclick="deleteById(${post.id})">삭제</button>
                      </div>
                  </div>
                  </c:forEach>
                   <input type="hidden" value="${size}" id="postSize"/>
              </div>
          </div>
      </div>
  </div>
  </body>
</html>
